<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /mayfes2025/

  # ファイル・ディレクトリが存在しない場合は index.html にリダイレクト
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [QSA,L]
</IfModule>